<!DOCTYPE html>
<html lang="en">
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1000&display=swap" rel="stylesheet">

<head>

    <title>Surf Trip Website</title> 
    <link rel="stylesheet" href="../static/styles/style.css"> 

</head>
<body>
    
    <div class="headline"> SURF</div>
    <div class="parahead" id="destinations"> </div>

    <a class="website-button" href="/">Back to Website</a>
    <div class="parahead" id="destinations">MORE INFO...</div>

    <p class="para2">{{ generated_reply }}</p>
    

</body>
</html>
